<h1>Data Science Tools and Ecosystem</h1>

<h2> INTRO</h2>
In this notebook, Data Science Tools and Ecosystem are summarized.

<b>objectives:</b>

<ul>
<li>List popular languages for Data Science</li>
<li>List popular librairies for Data Science</li>
<li>List popular tools for Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>python</li>
<li>R</li>
<li>Go</li>
</ol>

In [ ]:
import pandas as pd
import numpy as np

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>numpy</li>
<li>pandas</li>
<li>tensorflow</li>
</ol>

<table>
<tr>
<td>Data science tools</td>
</tr>
<tr>
<td>data assets management</td>
</tr>
<tr>
<td>code environement</td>
</tr>
<tr>
<td>apache </td>
</tr>

<h1>Below are a few examples of evaluating arithmetic expressions in Python: </h1>
<ul>
  <li> + (addition)</li>
  <li> * (multiplication)</li>
  <li> - (substraction)</li>
  <li>/ (division)</li>

</ul>

This a simple arithmetic expression to mutiply then add integers:

In [ ]:
(3*4)+5

17

<h3> This will convert 200 minutes to hours by diving by 60</h3>

In [ ]:
n=200
n/60

3.3333333333333335

<h2>Author:</h2> h.Bouali